@tailwind base;
@tailwind components;
@tailwind utilities;

.tiledBackground {
    background-image: url('images/background-white.png');
    background-repeat: repeat;
    background-size: contain;
    background-size: 256px;
    opacity: .25;
    margin-top: -16px;
}