<div class="w-full h-full px-4 py-2 rounded-md sm:px-8 bg-slate-800 sm:gap-4">
    <p class="mb-4 text-lg border-b md:text-2xl border-slate-400"><%- stickerset.stickers.length %> stickers</p>
    <div class="grid w-full h-full grid-cols-3 gap-2 lg:grid-cols-3 sm:grid-cols-4 xl:grid-cols-4 2xl:grid-cols-5">
        <% stickerset.stickers.forEach(function(sticker){ %>
            <%- include('/components/Image', {homeserverUrl, image: sticker.id}); %>
        <% }); %>
    </div>

</div>