<div class="flex flex-wrap items-center gap-4 py-4 mx-auto">
    <a class="flex items-center gap-2 text-lg" href="https://wah.su/radiquum">
        <span>by
            @radiquum</span> <img
            class="object-contain w-8 rounded-full aspect-square"
            src="https://radiquum.wah.su/static/avatar_512.jpg" alt="" /></a>
    <div class="flex items-center gap-2">
        <p class="text-lg">Find us on:</p>
        <a href="https://github.com/wah-su"><img
                class="object-contain w-8 rounded-full aspect-square"
                src="<%- path %>/static/images/github-mark-white.png"
                alt="github" /></a>
        <a href="https://wah.su"><img
                class="object-contain w-8 rounded-full aspect-square"
                src="<%- path %>/static/images/captive_portal_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.png"
                alt="website" /></a>
    </div>
</div>