<header class="sticky top-0 left-0 right-0 bg-[#1d1f3d] rounded-b-lg">
    <div class="container flex items-center justify-between px-8 py-4 mx-auto">
        <a href="<%- path %>index.html"><img class="h-6 sm:h-10" src="<%- path %>/static/images/logo.svg" alt="index page"/></a>
        <% if (stickerset) { %>
            <p>STICKERSET</p>
        <% }; %>
        <div class="flex items-center justify-center gap-2 text-white sm:gap-4 sm:text-xl">
            <a class="hidden hover:underline sm:inline" href="<%- path %>index.html">StickerSets</a>
            <a class="hover:underline" href="https://github.com/wah-su/mstickers">GitHub</a>
        </div>
    </div>
</header>